@model GridCore<dl_documentos>


<div class="card">
   <div class="card-body">
   <div class="table-responsive">
       <table class="ml-0 table table-striped table-bordered">
           <thead>
               <tr role="row">
                   <th class="col-1 p-0 m-0 text-center"> Fecha</th>
                   <th class="col-2 p-0 m-0 text-center">Tipo</th>
                   <th class="col-4 p-0 m-0 text-center">Titulo</th>
                   <th class="col-3 p-0 m-0 text-center">PDF</th>
                   <th class="col-1 p-0 m-0 text-center">Activo</th>
                   <th class="col-1 p-0 m-0 text-center"></th>
               </tr>
           </thead>
           <tbody>
               @foreach (var item in Model.ListaDatos)
               {
                   

               <tr role="row">
                   <td>@item.dl_fecha.ToShortDateString()</td>
                   <td>@item.Tipo</td>
                   <td>@item.dl_titulo</td>
                   <td>@item.dl_file</td>
                   <td class="text-center">@item.dl_activo</td>
                   <td class="text-center">
                       <a asp-controller="NormativaLegal" asp-action="Details" asp-route-id="@item.dl_id" class="btn btn-sm radius-15 btn-primary"><i class="bx bxs-info-circle font-20"></i> Detalle </a>
                   </td>

               </tr>}
               <tr>
                   <td colspan="7">
                       @Html.PagedListPager(
                           (IPagedList)Model.ListaDatos,
                           page => Url.Action("Index", "NormativaLegal", new { page = page, sort = Model.Sort, sortdir = "ASC" }), new PagedListRenderOptions
                           {
                               LiElementClasses = new string[] { "page-item" },
                               PageClasses = new string[] { "page-link" },
                               Display = PagedListDisplayMode.IfNeeded
                           })
                   </td>
               </tr>
           </tbody>
       </table>
       </div>
       </div>
   </div>
