@model Carousel


<div class="card">

    <div class="card-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Descripcion) @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control form-control-sm text-box single-line", @disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Imagen) @Html.TextBoxFor(model => model.Imagen, new { @class = "form-control form-control-sm text-box single-line", @disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Url): @Html.TextBoxFor(model => model.Url, new { @class = "form-control form-control-sm text-box single-line", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">@Html.DisplayNameFor(model => model.TextoLink): @Html.TextBoxFor(model => model.TextoLink, new { @class = "form-control form-control-sm text-box single-line", @disabled = "disabled" })</div>
            </div>
            <div class="col-md-2">
                <div class="form-group">@Html.DisplayNameFor(model => model.VigenciaDesde) @Html.TextBoxFor(model => model.VigenciaDesde, new { @class = "form-control form-control-sm text-box single-line", @disabled = "disabled" })</div>
            </div>
            <div class="col-md-2">
                <div class="form-group">@Html.DisplayNameFor(model => model.VigenciaHasta): @Html.TextBoxFor(model => model.VigenciaHasta, new { @class = "form-control form-control-sm text-box single-line", @disabled = "disabled" })</div>
            </div>
            <div class="col-md-1">
                <div class="form-group">@Html.DisplayNameFor(model => model.Orden): @Html.TextBoxFor(model => model.Orden, new { @class = "form-control form-control-sm text-box single-line", @disabled = "disabled" })</div>
            </div>
        </div>
    </div>
</div>
